.newone__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
  }
  
  .newone__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .newone__navbar-links_logo {
    margin-right: 2rem;
  }
  
  .newone__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
  }

  .newone__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.newone__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


  .newone__navbar-links_container p,
  .newone__navbar-sign p,
  .newone__navbarlinks p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
  }


  .newone__navbar-sign button,
  .newone__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .newone__navbar-menu_container p {
    margin: 1rem 0;
  }

  .newone__navbar-menu_container-links {
    display: none;
  }

  @media screen and (max-width: 1050px) {
    .newone__navbar-links_container {
    display: none;
    }

    .newone__navbar-menu {
    display: flex;
    }
}

    @media screen and (max-width: 700px) {
    .newone__navbar {
    padding: 2rem 4rem;
    }
}

    @media screen and (max-width: 550px) {
    .newone__navbar {
    padding: 2rem;
    }

    .newone__navbar-sign {
        display: none;
    }

    .newone__navbar-menu_container {
        top: 20px;
    }

    .newone__navbar-menu_container-sign {
        display: block;
    }
}